<script type="text/javascript">
	//http://www.facebook.com/#!/events/suggestions/

function setID () {
	var t =$("#url").val().match(/events\/[0-9]+/g);
	if(t != null && t[0].length > 7) 
		$("#fbeid").val(t[0].substring(7, t[0].length));
}

function checkForm() {
	var d;
	d = $("#start_date").val();
	if(!d.match(/^(0[1-9]|1[0-2])\/([0-2][0-9]|3[0-1])\/[1-2][0-9][0-9][0-9]/g)) {
		alert("Please enter a start date in mm/dd/yyyy format");
		return false;
	}

	$("#startmonth").val(parseInt(d.substring(0,2)));
	$("#startday").val(parseInt(d.substring(3,5)));
	$("#startyear").val(parseInt(d.substring(6,10)));


	d = $("#start_time").val();
	if(!d.match(/^(0[1-9]|1[0-2]):[0-5][0-9] [ap]m/g)) {
		alert("Please enter a start time in hh:mm [am/pm] format");
		return false;
	}

	$("#startminute").val(parseInt(d.substring(3,5)));
	$("#starthour").val(parseInt(d.substring(0,2)=="12"?0:d.substring(0,2)) + (d.substring(6,8) == "am"?0:12));



	d = $("#end_date").val();
	if(!d.match(/^(0[1-9]|1[0-2])\/([0-2][0-9]|3[0-1])\/[1-2][0-9][0-9][0-9]/g)) {
		alert("Please enter an end date in mm/dd/yyyy format");
		return false;
	}

	$("#endmonth").val(parseInt(d.substring(0,2)));
	$("#endday").val(parseInt(d.substring(3,5)));
	$("#endyear").val(parseInt(d.substring(6,10)));



	d = $("#end_time").val();
	if(!d.match(/^(0[1-9]|1[0-2]):[0-5][0-9] [ap]m/g)) {
		alert("Please enter an end time in hh:mm [am/pm] format");
		return false;
	}

	$("#endminute").val(parseInt(d.substring(3,5)));
	$("#endhour").val(parseInt(d.substring(0,2)=="12"?0:d.substring(0,2)) + (d.substring(6,8) == "am"?0:12));

	return true;

}

$(function() {	

	$("#start_time").focus(function() { $(this).val(""); $(this).css("color", "black") });
	$("#end_time").focus(function() { $(this).val(""); $(this).css("color", "black") });
	$("#start_date").focus(function() { $(this).val(""); $(this).css("color", "black") });
	$("#end_date").focus(function() { $(this).val(""); $(this).css("color", "black") });

	$("#start_time").blur(function() { 
		if($(this).val() == "") { 
			$(this).val("hh:mm [am/pm]");  
			$(this).css("color", "#888888");
		}
	});
	$("#end_time").blur(function() { 
		if($(this).val() == "") { 
			$(this).val("hh:mm [am/pm]");  
			$(this).css("color", "#888888");
		}
	});
	$("#start_date").blur(function() { 
		if($(this).val() == "") { 
			$(this).val("mm/dd/yyyy");  
			$(this).css("color", "#888888");
		}
	});
	$("#end_date").blur(function() { 
		if($(this).val() == "") { 
			$(this).val("mm/dd/yyyy");  
			$(this).css("color", "#888888");
		}
	});

	$("#start_time").blur();
	$("#end_time").blur();
	$("#start_date").blur();
	$("#end_date").blur();

});
</script>


<table id="outer_table">
<tr><td>
<h1>New Event</h1>

<%= form_tag(create_event_path, :method=>'post', :multipart => true, :onsubmit => "return checkForm();" ) do %>

<table id="create_table">
<tr>
  <td class="name">Name</td> 
  <td style="width:10px"></td>
  <td><%= text_field_tag "eventname" %></td>
</tr>

<tr>
  <td class="name">Description</td>
  <td></td>
  <td><%= text_area_tag "description", "", :size=>"18x2" %></td>
</tr>

<tr>
  <td class="name">Location</td> 
  <td></td>
  <td><%= text_field_tag "eventlocation" %></td>
</tr>

<tr>
  <td class="name">Start date </td>
  <td></td> 
  <td>
  <%= text_field_tag "start_date" %> 
  <input type="hidden" id="startmonth" name="startmonth"/>
  <input type="hidden" id="startday" name="startday"/>
  <input type="hidden" id="startyear" name="startyear"/>
  </td>
</tr>

<tr>
  <td class="name">Start time</td>
  <td></td>
  <td>
  <%= text_field_tag "start_time" %> 
  <input type="hidden" id="starthour" name="starthour"/>
  <input type="hidden" id="startminute" name="startminute"/>

  </td>
</tr>

<tr>
  <td class="name">End date </td>
  <td></td>
  <td>
  <%= text_field_tag "end_date" %> 
  <input type="hidden" id="endmonth" name="endmonth"/>
  <input type="hidden" id="endday" name="endday"/>
  <input type="hidden" id="endyear" name="endyear"/>
  </td>
</tr>

<tr>
  <td class="name">End time </td>
  <td></td>
  <td>
  <%= text_field_tag "end_time" %> 
  <input type="hidden" id="endhour" name="endhour"/>
  <input type="hidden" id="endminute" name="endminute"/>
  </td>
</tr>

<tr>
  <td class="name">Privacy level</td>
  <td></td>
  <td><%= select_tag("privacy", options_for_select([["Public", "OPEN"], ["Friends only", "CLOSED"]])) %></td>
</tr>

<tr>
  <td class="name">Enter up to three interest tags</td>
  <td></td>
  <td><%= text_field_tag "tag1" %> <br>
  <%= text_field_tag "tag2" %> <br>
  <%= text_field_tag "tag3" %> </td>
</tr>

<tr>
  <td></td>
  <td></td>
  <td><%= submit_tag 'Submit', :class => "button" %></td>
</tr>
</table>
<% end %>
</td>

<td style="width:100px;"></td>

<td>
<h1>Existing Event</h1>

<%= form_tag(create_existing_event_path, :method=>'post', :multipart => true, :onsubmit => "setID();") do %>
<input type="hidden" id="fbeid" name="fbeid" value=""/>
<table id="create_table">
<tr>
  <td class="name">URL</td> 
  <td style="width:10px"></td>
  <td><%= text_field_tag "url" %></td>
</tr>

<tr>
  <td class="name">Enter up to three interest tags</td>
  <td></td>
  <td><%= text_field_tag "tag1" %> <br>
  <%= text_field_tag "tag2" %> <br>
  <%= text_field_tag "tag3" %> </td>
</tr>

<tr>
  <td></td>
  <td></td>
  <td><%= submit_tag 'Submit', :class => "button" %></td>
</tr>

</table>
<% end %>

</td></tr>
</table>

   
