<h1>Listing user_interests</h1>

<table>
  <tr>
    <th>Fbid</th>
    <th>Interestid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_interests.each do |user_interest| %>
  <tr>
    <td><%= user_interest.fbid %></td>
    <td><%= user_interest.interestid %></td>
    <td><%= link_to 'Show', user_interest %></td>
    <td><%= link_to 'Edit', edit_user_interest_path(user_interest) %></td>
    <td><%= link_to 'Destroy', user_interest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User interest', new_user_interest_path %>
