<%= render 'layouts/header', :params => { :flag => "explore" }%>
<body>

  <div id="content">
		<div class="search">
			<h2>Search for events by interest:</h2>
			  <%= form_tag(explore_path, :method => 'post', :multipart => true) do %>
    			Interest name: <%= text_field_tag "interest_name" %>
 			 <% end %>
		</div>

<div class="interests">
    <h2>Popular interests</h2>
    <% @suggested_interests.each do |i| %>
        <form class="x" name="<%= i %>" action="/you_suck_mo" method="post">
        <input type="submit" id="interestsX" value="+" style="background-color:#FFFFFF; border:1px">
        <%= i %>
        <input type="hidden" name="fbid" value="<%= session[:fbid] %>" >
        <input type="hidden" name="interest_name", value="<%= i %>" >
        </form>
      <br>
    <% end %>
  </div>	



 	<div class="aside">

  <% if not @query == nil and not @query.empty? %>
    <% if @fb_event_hashes.length > 0 %>
      <h2>Events matching interest '<%= @query %>'</h2>
    <% else %>
      <h2>No events matching interest '<%= @query %>'</h2>
    <% end %>
  <% end %>

	
  <% if @events_to_show != nil
     @events_to_show.each do |event| %>
		<img class="event_img" src="/assets/gym.png" alt="" >
    <div class="events">
	    <div class="module">
		    <a href="http://www.facebook.com/<%= event[0] %>"><h2><%= event[1]['name']%></h2></a>
        <ul>
        <li>Description: <%= event[1]['description'] %>
        <%
          start_time = Time.parse(event[1]['start_time'])
          start_year = start_time.year
          start_month = start_time.month
          start_day = start_time.day
          x = start_time.hour
          start_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
        %>
    
        <li>Starts:
          <%=
            "#{start_month}/#{start_day}/#{start_year} at #{start_hour}"
          %>
        <%
          end_time = Time.parse(event[1]['end_time'])
          end_year = end_time.year
          end_month = end_time.month
          end_day = end_time.day
          x = end_time.hour
          end_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
        %>
        </li>
        <li>Ends:
          <%=
            "#{end_month}/#{end_day}/#{end_year} at #{end_hour}"
          %>
        </li>
        <li>
        Tags: <%= event[2].join(' ') %>
        </li>
        <ul>
	    </div>
    </div>
  <% end 
    end%>
	
</div>


</body>
