<%= render 'layouts/header', :params => { :flag => "explore" }%>

<script type="text/javascript">
$(function() {

    var tags = "<%= Interest.all.map { |i| i.name }.join(' ') %>"
    tags = tags.split(" ");
    $("#interest_tags").autocomplete({ source: tags });
    $(".events").each(function() {
      //hardcoding the height for now. need to check the height of an image 
      if ($(this).children().height() < 200) {
        $(this).children().height(199);
      }
    });
	$("#etitle").height(40);
	if($("#content").height() < 370) $("#content").height(370);
	if($("#content").width() < 1100) $("#content").width(1100);
});
</script>
<body>

  <div id="content">
		<div class="search">
			<h2>Search for events by interest:</h2></br>
			  <%= form_tag(explore_path, :method => 'post', :multipart => true) do %>
    			<%= text_field_tag "interest_name" %>
			<input type="Submit" value="Submit" class="button" align="left" />
 			 <% end %>
		</div>

<div class="interests">
    <h2>Popular interests</h2>
    <% @suggested_interests.each do |i| %>
	<%= form_tag(explore_path, :method => 'post', :multipart => true) do %>
	  <input type="hidden" name="interest_name" value="<%= i %>"/>
          <input style="display:none;" id="itext<%= i %>" type="submit" value="<%= i %>"/>
 	<% end %>

        <form class="x" name="<%= i %>" action="/you_suck_mo" method="post">
        <input type="submit" id="interestsX" value="+" style="background-color:#FFFFFF; border:1px"> 
		
<span onclick="$('#itext<%= i %>').click();"> <%= i %> </span> 
        <input type="hidden" name="fbid" value="<%= session[:fbid] %>" >
        <input type="hidden" name="interest_name", value="<%= i %>" >
        </form>
      <br>
    <% end %>
  </div>	

 	<div class="parent">

  <% if not @query == nil and not @query.empty? %>
    <% if @fb_event_hashes.length > 0 %>
      <div class="events" id="etitle"><div>
        <h2>Events matching interest '<%= @query %>'</h2>
      </div></div>
    <% else %>
      <div class="events" id="etitle"><div>
        <h2>No events matching interest '<%= @query %>'</h2>
      </div></div>
    <% end %>
    <br/>
  <% else %>
    <div class="events" id="etitle"><div>
      <h2>Events for Popular Interests</h2>
      <br/>
    </div></div>
  <% end %>

  <% if @events_to_show != nil
     @events_to_show.each do |event| %>
     <%
    	  require 'net/http'
          uri = URI('http://graph.facebook.com/' <<  event[0].to_s() << "/picture?type=large") 
    %> 

    <img class="event_img" id="img" src="<%= uri %>" alt="" >
    <div class="events" id="events">
	    <div class="module">
		    <a href="http://www.facebook.com/<%= event[0] %>"><h2><%= event[1]['name']%></h2></a>
        <ul>
        <li>Description: <%= event[1]['description'] %>
        <%
          start_time = Time.parse(event[1]['start_time'])
          start_year = start_time.year
          start_month = start_time.month
          start_day = start_time.day
          x = start_time.hour
          start_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
        %>
    
        <li>Starts:
          <%=
            "#{start_month}/#{start_day}/#{start_year} at #{start_hour}"
          %>
        <%
          end_time = Time.parse(event[1]['end_time'])
          end_year = end_time.year
          end_month = end_time.month
          end_day = end_time.day
          x = end_time.hour
          end_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
        %>
        </li>
        <li>Ends:
          <%=
            "#{end_month}/#{end_day}/#{end_year} at #{end_hour}"
          %>
        </li>
        <li>
        Tags: <%= event[2].join(' ') %>
        </li>
        <ul>
	    </div>
    </div>
  <% end 
    end%>
	
</div>


</body>
