<head>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".x").click(function(){
    $(this).submit();
  });
});
</script>
	<title>Get2Gether</title>
	
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="/assets/my_pages.css.scss">
	
		<div class="frontlogo">
			<img class="logo" src="/assets/front_logo.png" alt"" >
		</div>
        <ul class="group" id="example-two">
          <li><%= link_to "Create Event", new_event_path %></li>
			    <li><%= link_to "Maps", maps_path %></li>
			    <li><a rel="#98CEAA" href="#" id="clicked3">Explore</a></li>
        </ul>
	
	
</head>

<body>

<div id="content">
	<div class="msg">
	<p> Input your interests: </p></br>
	</div>
	<div class="textbox">
	<form name="input" action="/new_user_tag" method="post">
		<input name="interest" type="text"/></br></br>
                <input type="hidden" name="fbid" value=<%=session[:fbid]%> >
	</form>
	</div>


	
	<div class="aside2">
		<div class="module2 blue">
		<h2>Interests Subscribed<a href="#"></a></h2>
		<div class = "hashtagfont">
                <% UserInterest.find_all_by_fbid(@user['id']).each do |ui| %>
               
                  <% i = Interest.find_by_id(ui.interestid) %>
                  <% if i != nil %>
                
               <form class = "x" name= "<%=i.id %>" action="/del_user_tag" method="post">
                   <input type ="hidden" name="interest" value=<%=i.id%> /> 
                <input type="hidden" name="fbid" value=<%=session[:fbid]%> >
                   x
                   <%=i.name %>
               </form>
                 </br>
                  <% end %>
                <% end %>
		</div>
		</div>		
	</div>
	
</div>
 
 	<div class="aside">	

 
  <% @events_to_show.each do |event| %>
	  <div class="module blue">
		  <h2><%= event[1]['name'] %></h2>
      <p>Link to Facebook event page: <a href="http://www.facebook.com/<%= event[0] %>/">http://www.facebook.com/<%= event[0] %>/</a></p>
      <p>Description: <%= event[1]['description'] %></p>
      <%
        start_time = Time.parse(event[1]['start_time'])
        start_year = start_time.year
        start_month = start_time.month
        start_day = start_time.day
        x = start_time.hour
        start_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
      %>
      <p>Starts:
        <%=
          "#{start_month}/#{start_day}/#{start_year} at #{start_hour}"
        %>
      </p>
      <%
        end_time = Time.parse(event[1]['end_time'])
        end_year = end_time.year
        end_month = end_time.month
        end_day = end_time.day
        x = end_time.hour
        end_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
      %>
      <p>Ends:
        <%=
          "#{end_month}/#{end_day}/#{end_year} at #{end_hour}"
        %>
      </p>
      Tags: <%= event[2].join(' ') %>
	  </div>
  <% end %>
			
<div>
</div>

</body>
