<head><%= render 'layouts/header', :params => { :flag => "home" }%></head>
<link rel='stylesheet' href="/assets/stylesheets/buttons.css">

<script>

  $(function() {
    var tags = "<%= Interest.all.map { |i| i.name }.join(' ') %>"
    tags = tags.split(" ");
    $("#interest_tags").autocomplete({ source: tags });  
  });

  

</script>

<body>

  <div id="content">
		<div class="search">
			<h2> Input your interests: </h2></br>
	      <form name="input" action="/new_user_tag" method="post">
		      <input name="interest_tags" id="interest_tags" type="text"/>
          <input type="hidden" name="fbid" value=<%=session[:fbid]%> >
				  <input type="Submit" value="Submit" class="button" align="left" />
	      </form>
		</div>

	<div class="interests">
		<h2>Interests Subscribed<a href="#"></a></h2></br>
               <% UserInterest.find_all_by_fbid(@user['id']).each do |ui| %>
               
                  <% i = Interest.find_by_id(ui.interestid) %>
                  <% if i != nil %>
                
               <form class = "x" name= "<%=i.id %>" action="/del_user_tag" method="post">
                  <input type ="hidden" name="interest" value=<%=i.id%> /> 
                  <input type="hidden" name="fbid" value=<%=session[:fbid]%> >
      <input type="submit" id = "interestsX" value="X" style="background-color:#FFFFFF; border:1px">
                    <%=i.name %>
               </form>
               </br>
               <% end %>
                <% end %>
	</div>			



 	<div class="aside">	
  <% @events_to_show.each do |event| %>
		<img class="event_img" src="/assets/gym.png" alt="" >
    <div class="events">
	    <div class="module">
		    <a href="http://www.facebook.com/<%= event[0] %>"><h2><%= event[1]['name']%></h2></a>
        <ul>
        <li>Description: <%= event[1]['description'] %>
        <%
          start_time = Time.parse(event[1]['start_time'])
          start_year = start_time.year
          start_month = start_time.month
          start_day = start_time.day
          x = start_time.hour
          start_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
        %>
    
        <li>Starts:
          <%=
            "#{start_month}/#{start_day}/#{start_year} at #{start_hour}"
          %>
        <%
          end_time = Time.parse(event[1]['end_time'])
          end_year = end_time.year
          end_month = end_time.month
          end_day = end_time.day
          x = end_time.hour
          end_hour = "#{ (x%12)==0?12:(x%12) } #{ x<12?'AM':'PM'}"
        %>
        </li>
        <li>Ends:
          <%=
            "#{end_month}/#{end_day}/#{end_year} at #{end_hour}"
          %>
        </li>
        <li>
        Tags: <%= event[2].join(' ') %>
        </li>
        <ul>
	    </div>
    </div>
  <% end %>
	
</div>


</body>
