<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>nobody reads this</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  
<script type="text/javascript">
  
$(function() {
    
function debug (str) {
	$("#d").append(str + "<br/");
}

	var cse_building = new google.maps.LatLng(32.881858, -117.233419),
		pointToMoveTo, 
		first = true,
		curMarker = new google.maps.Marker({}),
		$el;
	var locations = $("#locations");
     
	var myOptions = {
		zoom: 10,
		center: cse_building,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map($("#map_canvas")[0], myOptions);

	var eventsArray = [];
	var ev;
	<% @suggested_event_ids.each do |fbeid| 
	#fbeid = Event.find_by_id(eid)['fbeventid']
	e = session[:graph].get_object(fbeid) %>
	ev = new Object();
	ev.fbeventid = "<%= fbeid %>";
	ev.name = "<%= e['name'] %>";
	ev.host = "<%= e['host'] %>";
	ev.start = "<%= e['start_time'] %>";
	ev.end = "<%= e['end_time'] %>";
	ev.location = "<%= e['location'] %>";
	ev.tags = [];
	<% @einterests = EventInterest.find_all_by_fbeventid(fbeid); # or fbeid
		@einterests.each do |ei|
		i = Interest.find_by_id(ei['interestid']) %>
		ev.tags.push("<%=i['name']%>");
	<% end %>
		
	/*ev.description = "<%= e['description'] %>";*/
	eventsArray.push(ev);
	<% end %>

	var places = new google.maps.places.PlacesService(map);
	var geo_count = 0;
	//get_geo(0, eventsArray);
	for(var i = 0; i < eventsArray.length; i++) {
		get_geo(i, eventsArray);
	}


function get_geo(geo_index, eventsArray) {
	var e = eventsArray[geo_index];
	var req = {
		location: cse_building,
		radius: '50000',
		keyword: e.location
	}
	
	places.search(req, function(result, status) {
		var e = eventsArray[geo_index];
		if(status == "ZERO_RESULTS") {
			alert(e.location + " not found. id = " + e.fbeventid);
			if(geo_index < eventsArray.length-1) {
				get_geo(geo_index+1, eventsArray); 
			}
			else {
				populate_events_list(eventsArray);
			}
		}
		else {
			var loc = result[0]['geometry']['location'];
			e.lat = loc.lat();
			e.lng = loc.lng();
		}
		geo_count++;
		if(geo_count >= eventsArray.length) {
			populate_events_list(eventsArray);
		}

	});
}

function create_event(e, eid) {
	var li = $("<li>");
	var title = $("<h3>");
	var tags = $("<p>");
	var desc = $("<p>");
	li.attr("eid", eid);
	title.html(e.name);

	tagstr = "";
	for(var i = 0; i < e.tags.length; i++) tagstr += e.tags[i] + " ";
	tags.html(tagstr);
	
	desc.addClass("longdesc");
	if(e.host) desc.append($("<b>").html("Host"))
		.append(": " + e.host).append("<br>");
	if(e.start) desc.append($("<b>").html("Start time"))
		.append(": " + e.start).append("<br>");
	if(e.end) desc.append($("<b>").html("End time"))
		.append(": " + e.end).append("<br>");
	if(e.location) desc.append($("<b>").html("Location"))
		.append(": " + e.location).append("<br>");
	desc.append($("<b>").html("Description"))
		.append(": " + $("#desc"+e.fbeventid).html()).append("<br>");

	var ret = li.append(title).append(tags).append(desc);


	create_marker(new google.maps.LatLng(e.lat, e.lng), li);

	return ret;
}

function create_marker(latlng, li) {
	
	curMarker = new google.maps.Marker({
		position: latlng,
		map: map,
		icon: "/marker.png"
	});
	google.maps.event.addListener(curMarker, 'click', function() {
		//map.setZoom(14);
		li.click();
	});
}

function populate_events_list(list) {
	for(var i = 0; i < list.length; i++) {
		locations.append(create_event(list[i], i));
	}
	$("#locations li").click(select_event);
	$("#locations li:first").trigger("click");
}


function select_event () {
	$el = $(this);

	var e = eventsArray[$el.attr("eid")];
        
	$("#locations li").removeClass("selected");
	$el.addClass("selected");
	if (!first) { 
		curMarker.setMap(); 
		//map.setZoom(10);
	}
	if(!(isNaN(e.lat) || isNaN(e.lng))) { 
		pointToMoveTo = new google.maps.LatLng(e.lat, e.lng);
		map.panTo(pointToMoveTo);
		create_marker(pointToMoveTo, $el); 
      	}
	else {
		map.panTo(cse_building);
	}
	$("#more-info")
		.find("h2")
			.html($el.find("h3").html())
		.end()
		.find("p")
			.html($el.find(".longdesc").html());
	first = false; 
};
	
});


</script>

</head>

<body>
<div id="page-wrap">
	
	<h1>Events Map</h1>
	<input type='radio' name='option'/> Show All
	<input type='radio' name='option'/> Show New
	<input type='radio' name='option'/> Show Attending
	<br/>
	
	<ul id="locations"></ul>
	<div id="map_canvas"></div>
	<div id="more-info">
		<div>
	
			<h2>More Info</h2>
			<p>Loading...</p>
		</div>
	</div>
	&nbsp;	
</div>
<div id="d"></div>
<% @suggested_event_ids.each do |fbeid| 
	#fbeid = Event.find_by_id(eid)['fbeventid']
	e = session[:graph].get_object(fbeid) %>

<div class="longdesc" id="desc<%=fbeid%>"> <%= e['description'] %> </div>

<% end %>
<br/>

</body>
</html>
