<h1>Listing event_interests</h1>

<table>
  <tr>
    <th>Fbeventid</th>
    <th>Interestid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_interests.each do |event_interest| %>
  <tr>
    <td><%= event_interest.fbeventid %></td>
    <td><%= event_interest.interestid %></td>
    <td><%= link_to 'Show', event_interest %></td>
    <td><%= link_to 'Edit', edit_event_interest_path(event_interest) %></td>
    <td><%= link_to 'Destroy', event_interest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event interest', new_event_interest_path %>
