<p id="notice"><%= notice %></p>

<p>
  <b>Fbeventid:</b>
  <%= @event_interest.fbeventid %>
</p>

<p>
  <b>Interestid:</b>
  <%= @event_interest.interestid %>
</p>


<%= link_to 'Edit', edit_event_interest_path(@event_interest) %> |
<%= link_to 'Back', event_interests_path %>
